@'
# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Django
*.log
*.sqlite3
media/
staticfiles/

# Env
venv/
.env
!.env.example

# OS/IDE
.vscode/
.idea/
.DS_Store

# Docker/K8s (opcional, se quiser versionar)
# docker-compose.override.yml
'@ | Out-File -FilePath ".gitignore" -Encoding utf8 -Force